.navdiv{
    height: 270px;
    width: 45%;
    border: 1px solid white;
    border-right: 1px solid black;
    margin-top: 40px;
    margin-left: 20px;
    /* background-color: red; */
}

#client{
    height: 170px;
    width: 170px;
    border: 1px solid white;
    margin-top: 50px;
    margin-left: 80px;
    border-radius: 50%;
    background-color: blue;
    
}

h4{
    margin-top: 60px;
    color: white;
    
}